.about-banner{
    padding-top: 12.7rem;
    &-wrap{
        height: 40rem;
        background-image: url(../img/about-banner-img.png);
        text-align: center;
        font-size: 4rem;
        line-height: 5.3rem;
        font-weight: bold;
        color: white;
        padding-top: 28.3rem;
        position: relative;
        z-index: 1;
        &:before{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-image: url(../img/about-banner-layer.png);
            z-index: -1;
        }
        & h1{
            position: relative;
            z-index: 50;
        }
    }
    @media screen and(max-width:767px){
        padding-top: 9.5rem;
    }
}