.reason{
    padding-top: 4rem;
    padding-bottom: 7rem;
    // padding-left: 1.5rem;
    // padding-right: 1.5rem;
    background-color: $bg-color-3;
    &-heading{
        margin-bottom: 3rem;
        padding-left: 1rem;
    }
    &-list{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    &-item{
        padding: 2rem 2.5rem;
        padding-left: 1.5rem;
        width: calc(100%/3);
        margin-bottom: 4rem;
        border-radius: 1rem;
        transition: .3s ease-in-out;
      
        &:hover{
            box-shadow: rgba(99 ,99, 99, 0.2) 0px 2px 5px 5px;
        } 
        &:hover .reason-title{
            color: $primary-color;
        }       
    }
    &-icon{
        height: 4rem;
        width: 4rem;
        margin-bottom: 1rem;
    }
    &-title{
        font-size: 2rem;
        font-weight: bold;
        line-height: 2.6rem;
        margin-bottom: 1.2rem;
    }
    &-desc{
        line-height: 2.4rem;
    }
    @media screen and(max-width:767px){
        &-heading{
            text-align: center ;
        }
        &-wrap{
            padding-right: 2rem;
        }
        &-item{
            width: 50%;
        }
    }
    @media screen and(max-width:400px){
        padding: 3rem 1.5rem;
        &-wrap{
            padding-right: 0;
            text-align: center;
        }
        &-icon{
            margin: 0 auto;
            margin-bottom: 1rem;
        }
        &-list{
            display: block;
        }
        &-item{
            width: 100%;
        }
    }
}