.tips{
    padding: 6rem 0;
    background-color: $bg-color-2;
    &-heading-title{
        color: white;
        margin-bottom: 2rem;
    }
    &-wrap{
        display: flex;
        position: relative;
    }
    &-img-wrap{
        width: 50%;
    }
    &-content{
        width: 50%;
        padding-left: 3rem;
        padding-right: 1rem;
        color: white;
        position: relative;
    }
    &-slide{
        position: relative;
        cursor: pointer;
    }
    &-slide-title{
        font-size: 2rem;
        font-weight: bold;
        line-height: 2.6rem;
        margin-bottom: .4rem;
    }
    &-slide-date{
        font-size: 1.4rem;
        line-height: 1.9rem;
        color: #69578A;
        margin-bottom: 2rem;
    }
    &-slide-desc{
        font-size: 1.4rem;
        line-height: 2.4rem;
        margin-bottom: 1.5rem;
       
    }
    &-slide-link{
        display: inline-block;
        color: $primary-color;
        text-transform: uppercase;
        font-size: 1.2rem;
        line-height: 1.6rem;
        margin-bottom: 2.7rem;
        &:hover{
            color: white;
        }
    }
    &-navigation{
        display: flex;
        padding: 1rem 0;
    }
    &-nav-btn{
        font-weight: lighter;
        font-size: 2rem;
        padding: 0 0rem;
        color: $primary-color;
        cursor: pointer;
        &.swiper-button-disabled{
            color:gray;
        }
        &:first-child{
            padding-right: 1rem;
        }
        &:last-child{
            padding-left: 1rem;
            border-left: 1px solid #69578A;
        }
    }
    &-decor-circle1{
        width: 22.7rem;
        height: 22.7rem;
        border-radius: 50%;
        background-color: $test-color-3;
        position: absolute;
        z-index:1;
        top: -10rem;
        left: -40rem;
        box-shadow: 1rem 1rem 3rem rgba(0,0, 0, 0.16) ;
    }
    &-decor-circle2{
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        background-color: $primary-color;
        position: absolute;
        z-index: 1;
        bottom: -11rem;
        left: -10rem;
        box-shadow: 1rem 1rem 3rem rgba(0,0, 0, 0.16) ;
    }
    &-decor-circle3{
        width: 17.4rem;
        height: 17.4rem;
        border-radius: 50%;
        background-color: $secondary-color;
        position: absolute;
        z-index: 1;
        bottom: -14rem;
        right: -30rem;
        box-shadow: 1rem 1rem 3rem rgba(0,0, 0, 0.16) ;
    }
    @media screen and(max-width:1500px){
        &-decor-circle1, &-decor-circle2, &-decor-circle3{
            display: none;
        }
        
    }
    @media screen and(max-width:1335px){
        padding:4rem 1.5rem ;
        &-content{
            padding-left: 1.5rem;
        }
        &-slide-desc{
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;  
            overflow: hidden;
            margin-bottom: 1rem;
        }
        &-slide-link{
            margin-bottom: 1.5rem;
        }
        &-heading-title{
            margin-bottom: 1rem;
        }
        &-slide-date{
            margin-bottom: 1rem;
        }
    }
   
    @media screen and(max-width:1023px) {
        &-wrap{
            display: block;
        }
        &-img-wrap{
            width: 100%;
            margin-bottom: 1rem;
        }
        &-content{
            width: 100%;
        }
    }
    @media screen and(max-width:767px){
        padding: 2rem 1.5rem;
    }
}