.tipslist{
    padding-top: 12.7rem;
    position: relative;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    & .container{
        padding-right: 1.5rem;
    }
    &-wrap{
        display: flex;
        align-items: stretch;   
    }
    &-content{
        width: 58.33%;
        position: relative;
        padding-top: 1.4rem;
        padding-right: 3rem;
        padding-left: 1.5rem;
        padding-bottom: 7rem;
    }
    &-item{
        display: flex;
        align-items: flex-start;
        padding: 2rem 0;
        border-bottom: 1px solid $border-color;
    }
    &-item-wrap{
        margin-bottom: 2rem;
    }
    &-img{
        width: 17rem;
    }
    &-item-content{
        padding-left: 3rem;
    }
    &-item-title{
        font-size: 1.6rem;
        font-weight: bold;
        line-height: 2.1rem;
        margin-bottom: 1rem;
        transition: .3s ease-in-out;
        &:hover{
            color: $primary-color;
        }
    }
    &-item-desc{
        line-height: 1.9rem;
        margin-bottom: 1rem;
    }
    &-item-bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-detail{
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
    &-item-icon{
        width: 1.2rem;
        height: 1.2rem;
        margin-right: .5rem;
    }
    &-type{
        color: $bg-color-2;
        font-weight: bold;
    }
    @media screen and(max-width:1230px){
        padding-left: 0;
        padding-right: 0;
        & .container{
            padding-right: 0;
        }
    }
    @media screen and(max-width:767px){
        &-wrap{
            display: block;
        }
        &-content{
            width: 100%;
            padding-right: 1.5rem;
            
        }
        &-sidebar{
            width: 100%;
        }
        &-item-content{
            padding-left: 1rem;
        }
        &-item-title{
            font-size: 1.4rem;
            line-height: 2.1rem;
            
        }
        &-item-desc{
            font-size: 1.2rem;
            line-height: 1.5;
            margin-bottom: 1rem;
        }
    }
    @media screen and(max-width:400px){
        &-item{
            display: block;
        }
        &-img{
            width: 100%;
            margin-bottom: 1rem;
        }
        &-item-content{
            padding-left: 0;
            
        }
    }
}