@import "../fonts/stylesheet.css";

$primary-font: 'Roboto';


$primary-color: #E7194A;
$secondary-color:#1FBCED;
$bg-color-1:#F4F4F7;
$bg-color-2:#371F62;
$bg-color-3:#F8F8F8;
$test-color-1:#B72EB7;
$test-color-2:#38AAF2;
$test-color-3:#FFA10B;
$test-color-4:#262E67;
$title-color:#371F62;
$border-color:#CED0DB;
$test-color-light-1:#BE43BE;
$test-color-light-2:#4CB3F3;
$test-color-light-3:#F3C14C;